body{
    display: flex;
}

.wrapper{
    display: flex;
    flex-direction: row;
    /* Main Axis */
    justify-content: space-between;
    /* Cross Axis */
    align-items: flex-start;
    height: 100vh;
    width:100%;
}

.box{
    background: blue;
    width: 100px;
    height:100px;
    display: inline-block;
    color: white;
}

.box:nth-child(2){
    align-self: center;
}


.box:nth-child(3){
    align-self: flex-end;
}